@model ChangePasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<header class="major">
	<h2><localize>ManageHeader</localize></h2>
	<p><localize>ChangePasswordHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
				<h4><localize>ChangePasswordText</localize></h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="OldPassword" id="OldPassword" value="" placeholder="@Localizer[name: "Placeholder_OldPassword"]" />
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="NewPassword" id="NewPassword" value="" placeholder="@Localizer[name: "Placeholder_NewPassword"]" />
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="ConfirmPassword" id="ConfirmPassword" value="" placeholder="@Localizer[name: "Placeholder_ConfirmPassword"]" />
					</div>
				</div>
				<div class="row uniform">
					<ul class="actions">
						<li>
							<input type="submit" value="@Localizer[name: "ChangePasswordButtonText"]" />
						</li>
					</ul>
				</div>
			</form>
		</section>
	</section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
