@using Microsoft.AspNetCore.Mvc.Localization
@model IndexViewModel
@inject IViewLocalizer Localizer
<header class="major">
	<h2><localize>ManageHeader</localize></h2>
	<p><localize>IndexHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<h4><localize>ChangeSettingsHeader</localize></h4>
			<hr />
			<h5><localize>PasswordHeader</localize></h5>
			<div class="row uniform">
				<ul class="actions">
					<li>
						@if (Model.HasPassword)
						{
							<a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed"><localize>ChangePasswordHeader</localize></a>
						}
						else
						{
							<a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed"><localize>CreatePasswordHeader</localize></a>
						}
					</li>
				</ul>
			</div>
			<h5><localize>ExternalLoginsHeader</localize></h5>
			<div class="row uniform">
				<ul class="actions">
					<li>
						@(Model.Logins.Count > 0 ? Localizer["ExternalLoginsCounterText", Model.Logins.Count] : Localizer[name: "NoExternalLoginsText"])
					</li>
					<li>
						<a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed"><localize>ManageExternalLoginsHeader</localize></a>
					</li>
				</ul>
			</div>
			@*<h5><localize>PhoneNumberHeader</localize></h5>
			<div class="row uniform">
				<ul class="actions">
					@if (Model.PhoneNumber == null)
					{
						@Localizer[name: "NoPhoneNumberText"]
					}
					else
					{
						@Model.PhoneNumber
					}
					@if (Model.PhoneNumber != null)
					{
						<li><a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed"><localize>ChangePhoneNumberHeader</localize></a></li>
						<li>
							<form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
								<input type="submit" value="@Localizer[name: "RemovePhoneNumberHeader"]" />
							</form>
						</li>
					}
					else
					{
						<li><a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed"><localize>AddPhoneNumberHeader</localize></a></li>
					}
				</ul>
			</div>*@
			@*<dt>Two-Factor Authentication:</dt>
				<dd>
					<p>
						There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
						for setting up this application to support two-factor authentication.
					</p>
					@if (Model.TwoFactor)
						{
							<form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
								Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
							</form>
						}
						else
						{
							<form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
								<button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
							</form>
						}
				</dd>*@
		</section>
	</section>
</div>
