@model SetPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<header class="major">
	<h2><localize>ManageHeader</localize></h2>
	<p><localize>SetPasswordHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<p class="text-info">
				<localize>NoLocalAccountText</localize>
			</p>
			<form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData[index: "ReturnUrl"]" method="post" class="form-horizontal">
				<h4><localize>SetPasswordText</localize></h4>
				<hr />
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="NewPassword" id="NewPassword" value="" placeholder="@Localizer[name: "Placeholder_NewPassword"]" />
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="ConfirmPassword" id="ConfirmPassword" value="" placeholder="@Localizer[name: "Placeholder_ConfirmPassword"]" />
					</div>
				</div>
				<div class="row uniform">
					<ul class="actions">
						<li>
							<input type="submit" value="@Localizer[name: "SetPasswordButtonText"]" />
						</li>
					</ul>
				</div>
			</form>
		</section>
	</section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial"); }
}
