<header class="major">
	<h2><localize>ContactHeader</localize></h2>
	<p><localize>CookieHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<h3><localize>CookieExplanationHeader</localize></h3>
			<p><localize>CookieExplanationText1</localize></p>
			<p><localize>CookieExplanationText2</localize></p>
			<p><localize>CookieExplanationText3</localize><a href="https://de.wikipedia.org/wiki/Cookie">Wikipedia</a>.</p>
			<h3><localize>UsedCookiesHeader</localize></h3>
			<ol>
				<li><localize>AntiForgeryCookie</localize></li>
				<li><localize>IdentityCookie</localize></li>
				<li><localize>SessionCookie</localize></li>
				<li><localize>CookieConsentCookie</localize></li>
			</ol>
			<h3><localize>WhyKeepCookiesActiveHeader</localize></h3>
			<p><localize>WhyKeepCookiesActiveText</localize></p>
		</section>
	</section>
</div>