<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
	<header class="major">
		<h2><localize>ContactHeader</localize></h2>
		<p><localize>ImprintHeader</localize></p>
	</header>
	<div class="container">
		<section id="content">
			<section>
				<h3><localize>AddressHeader</localize></h3>
				<p>
					Achim Schnell<br />
					Mainzer Strasse 69<br />
					55299 Nackenheim
				</p>
				<h3><localize>ContactHeader</localize></h3>
				<p>
					<a href="mailto:a.schnell@fluitech.de">a.schnell@fluitech.de</a>
				</p>
				<h3><localize>ResponsibleText</localize></h3>
				<p>Achim Schnell</p>
			</section>
		</section>
	</div>
</cache>