<header class="major">
	<h2><localize>ContactHeader</localize></h2>
	<p><localize>PrivacyHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<h3><localize>AboutMeHeader</localize></h3>
			<p><localize>AboutMeText</localize></p>
			<h3><localize>SslHeader</localize></h3>
			<p><localize>SslText_1</localize><a href="https://letsencrypt.org/">LetsEncrypt</a><localize>SslText_2</localize></p>
			<h3><localize>UserdataHeader</localize></h3>
			<p><localize>UserdataText</localize></p>
			<ul>
				<li><localize>UserdataListEntry1</localize></li>
				<li><localize>UserdataListEntry2</localize></li>
			</ul>
			<p><i><localize>UserDataAdText</localize></i></p>
			<h3><localize>UsagedataHeader</localize></h3>
			<p><localize>UsagedataText</localize></p>
			<p><localize>UsagedataText2</localize></p>
			<ul>
				<li><localize>UsagedataListEntry1</localize></li>
				<li><localize>UsagedataListEntry2</localize></li>
			</ul>
			<p><i><localize>UsagedataText3</localize></i></p>
			<h3><localize>LinkingHeader</localize></h3>
			<p><localize>LinkingText1_1</localize><a href="https://identityserver.io/">IdentityServer</a><localize>LinkingText1_2</localize></p>
			<p><localize>LinkingText2</localize></p>
			<h3><localize>SafetyHeader</localize></h3>
			<p><localize>SafetyText</localize></p>
		</section>
	</section>
</div>