<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
	<header class="major">
		<h2><localize>ContactHeader</localize></h2>
		<p><localize>TermsOfUseHeader</localize></p>
	</header>
	<div class="container">
		<section id="content">
			<section>
				<h3><localize>LegalHeader</localize></h3>
				<p><localize>LegalText1</localize></p>
				<p><localize>LegalText2</localize></p>
				<h3><localize>ExternalLinksHeader</localize></h3>
				<p><localize>ExternalLinksText</localize></p>
				<h3><localize>CopyrightHeader</localize></h3>
				<p><localize>CopyrightText</localize></p>
				<h3><localize>DataProtectionHeader</localize></h3>
				<p><localize>DataProtectionText1</localize></p>
				<p><localize>DataProtectionText2</localize></p>
				<p><localize>DataProtectionText3</localize></p>
				<p><localize>DataProtectionText4</localize></p>
				<p><a href="http://www.mustervorlage.net/disclaimer-muster">Disclaimer-Muster</a></p>
			</section>
		</section>
	</div>
</cache>