<header class="major">
	<h2><localize>AdminHeader</localize></h2>
	<p><localize>IndexHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			
		</section>
	</section>
</div>