@using System.Runtime.InteropServices.ComTypes
@using FluiTec.Vision.Server.Host.AspCoreHost.Models.IdentityViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@model ScopeViewModel
@inject IViewLocalizer Localizer

@if (Model.Checked)
{
	if (Model.Required)
	 {
		 <input id="scopes_@Model.Name" name="ScopesConsented" type="checkbox" checked disabled/>
	 }
	 else
	 {
		 <input id="scopes_@Model.Name" name="ScopesConsented" type="checkbox" checked />
	 }
}
else
{
	<input id="scopes_@Model.Name" name="ScopesConsented" type="checkbox" />
}

<label for="scopes_@Model.Name">@Localizer[Model.DisplayName]</label>
@if (Model.Required)
{
	<localize>RequiredText</localize>
}
@if (Model.Description != null)
{
	<label for="scopes_@Model.Name">@Localizer[Model.Description]</label>
}