<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
	<header class="major">
		<h2><localize>HomeHeader</localize></h2>
		<p><localize>AboutHeader</localize></p>
	</header>
	<div class="container">
		<section id="content">
			<section>
				<h3><localize>WhatDoYouNeed</localize></h3>
				<ol>
					<li><localize>ComputerWithJarvis</localize></li>
					<li><localize>ComputerWithFriday</localize></li>
					<li><localize>AmazonAccount</localize></li>
					<li><localize>VisionAccount</localize></li>
				</ol>
			</section>
			<section>
				<h3><localize>ComputerControl</localize></h3>
				<div class="row">
					<div class="6u 12u(2)">
						<ul class="alt">
							<li><localize>StartComputer</localize></li>
							<li><localize>StopComputer</localize></li>
							<li><localize>StartProcess</localize></li>
							<li><localize>MoveWindow</localize></li>
						</ul>
					</div>
					<div class="6u 12u(2)">
						<ul class="alt">
							<li><localize>TellStartComputer</localize></li>
							<li><localize>TellStopComputer</localize></li>
							<li><localize>TellStartProcess</localize></li>
							<li><localize>TellMoveWindow</localize></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<h3><localize>VlcControl</localize></h3>
				<div class="row">
					<div class="6u 12u(2)">
						<ul class="alt">
							<li><localize>VlcFindFilms</localize></li>
							<li><localize>VlcFindSeries</localize></li>
							<li><localize>VlcStart</localize></li>
							<li><localize>VlcStop</localize></li>
							<li><localize>VlcFullscreen</localize></li>
							<li><localize>VlcFastForwardRewind</localize></li>
						</ul>
					</div>
					<div class="6u 12u(2)">
						<ul class="alt">
							<li><localize>TellVlcFindFilms</localize></li>
							<li><localize>TellVlcFindSeries</localize></li>
							<li><localize>TellVlcStart</localize></li>
							<li><localize>TellVlcStop</localize></li>
							<li><localize>TellVlcFullscreen</localize></li>
							<li><localize>TellVlcFastForwardRewind</localize></li>
						</ul>
					</div>
				</div>
			</section>
		</section>
	</div>
</cache>