<footer id="footer">
	<ul class="menu">
		<li><a asp-controller="Contact" asp-action="TermsOfUse"><localize>TermsOfUse</localize></a></li>
		<li><a asp-controller="Contact" asp-action="Privacy"><localize>Privacy</localize></a></li>
		<li><a asp-controller="Contact" asp-action="Imprint"><localize>Imprint</localize></a></li>
	</ul>
	<span class="copyright">
		&copy; Copyright<br />
		<localize>DesignBy</localize> <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
	</span>
</footer>