<section id="two" class="wrapper style2">
	<div class="container">
		<div class="row uniform">
			<div class="4u 6u(2) 12u$(3)">
				<section class="feature fa-briefcase">
					<h3><localize>Function_ComputerControl</localize></h3>
					<p><localize>Function_ComputerControl_Description</localize></p>
				</section>
			</div>
			<div class="4u 6u$(2) 12u$(3)">
				<section class="feature fa-code">
					<h3><localize>Function_SmartHome</localize></h3>
					<p><localize>Function_SmartHome_Description</localize></p>
				</section>
			</div>
			<div class="4u$ 6u(2) 12u$(3)">
				<section class="feature fa-save">
					<h3><localize>Function_Alexa</localize></h3>
					<p><localize>Function_Alexa_Description</localize></p>
				</section>
			</div>
			<div class="4u 6u$(2) 12u$(3)">
				<section class="feature fa-desktop">
					<h3><localize>Function_VLC</localize></h3>
					<p><localize>Function_VLC_Description</localize></p>
				</section>
			</div>
			<div class="4u 6u(2) 12u$(3)">
				<section class="feature fa-camera-retro">
					<h3><localize>Function_Steam</localize></h3>
					<p><localize>Function_Steam_Description</localize></p>
				</section>
			</div>
			<div class="4u$ 6u$(2) 12u$(3)">
				<section class="feature fa-cog">
					<h3><localize>Function_Future</localize></h3>
					<p><localize>Function_Future_Description</localize></p>
				</section>
			</div>
		</div>
	</div>
</section>