<h1><a href="/"><span><localize>ApplicationName</localize></span></a></h1>
<nav id="nav">
	<ul>
		<li><a href="/"><localize>HomeLink</localize></a></li>
		<li><a href="/Home/About/"><localize>AboutLink</localize></a></li>
		@await Html.PartialAsync("_LoginPartial")
	</ul>
</nav>
</header>