@using FluiTec.AppFx.Identity
@using FluiTec.AppFx.Identity.Entities

@inject SignInManager<IdentityUserEntity> SignInManager
@inject UserManager<IdentityUserEntity> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap; opacitiy: 1;">
		<a asp-controller="Manage" asp-action="Index"><localize>Profile</localize></a>
		<ul>
			<li><a asp-controller="Account" asp-action="Logout"><localize>Logout</localize></a></li>
		</ul>
	</li> 
}
else
{
	<li><a asp-controller="Account" asp-action="Login"><localize>Login</localize></a></li> 
}
@if (User.HasClaim(IdentityClaims.HasAdministrativeRights, value: "true"))
{
	<li><a asp-controller="Admin" asp-action="Index"><localize>Admin</localize></a></li>
}
