<header class="major">
	<h2><localize>AccountHeader</localize></h2>
	<p><localize>ConfirmEmailHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<p><localize>ConfirmEmailText</localize></p>
		</section>
	<section>
</div>