@using Microsoft.AspNetCore.Mvc.Localization
@model ConfirmEmailAgainViewModel
@inject IViewLocalizer Localizer

<header class="major">
	<h2><localize>AccountHeader</localize></h2>
	<p><localize>ConfirmEmailAgainHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<p><localize>SuccessText</localize></p>
		</section>
	</section>
</div>
