<header class="major">
	<h2><localize>AccountHeader</localize></h2>
	<p><localize>LockoutHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<p><localize>LockoutText</localize></p>
		</section>
	</section>
</div>
