@using Microsoft.AspNetCore.Mvc.Localization
@model ResetPasswordViewModel
@inject IViewLocalizer Localizer

<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
	<header class="major">
		<h2><localize>AccountHeader</localize></h2>
		<p><localize>ResetPasswordHeader</localize></p>
	</header>
	<div class="container">
		<section id="content">
			<section>
				<p><localize>SuccessText</localize></p>
			</section>
		</section>
	</div>
</cache>