<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FluiTec.Vision.Client.Windows.EndpointManager.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FluiTec.Vision.Client.Windows.EndpointManager.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<applicationSettings>
		<FluiTec.Vision.Client.Windows.EndpointManager.Properties.Settings>
			<setting name="AspNetCoreEnvironment" serializeAs="String">
				<value>Development</value>
			</setting>
			<setting name="ServerDir" serializeAs="String">
				<value>AspNetCoreEndpoint\</value>
			</setting>
			<setting name="ServerExecutable" serializeAs="String">
				<value>FluiTec.Vision.Client.AspNetCoreEndpoint.dll</value>
			</setting>
			<setting name="ApplicationDir" serializeAs="String">
				<value>Vision\Endpoint\</value>
			</setting>
			<setting name="ServerConfigFileName" serializeAs="String">
				<value>appsettings.Server.json</value>
			</setting>
			<setting name="ApplicationName" serializeAs="String">
				<value>FluiTec_Vision_Endpoint</value>
			</setting>
		</FluiTec.Vision.Client.Windows.EndpointManager.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<FluiTec.Vision.Client.Windows.EndpointManager.Properties.Settings>
			<setting name="SafeApplicationName" serializeAs="String">
				<value>FluiTec.Vision.Endpoint</value>
			</setting>
		</FluiTec.Vision.Client.Windows.EndpointManager.Properties.Settings>
	</userSettings>
</configuration>