@using FluiTec.Vision.Client.AspNetCoreEndpoint.Models.ConfigureViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ClientRegistrationViewModel
<header class="major">
	<h2><localize>ConfigureHeader</localize></h2>
	<p><localize>ConfigureClientRegistrationHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<form asp-controller="Configure" asp-action="ConfigureClientRegistration" method="post" class="form-horizontal">
				<h4><localize>ConfigureClientRegistrationHeader</localize></h4>
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="email" name="Email" id="Email" value="@Model?.Email" placeholder="@Localizer[name: "Placeholder_Email"]"/>
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="text" name="MachineName" id="MachineName" value="@Model?.MachineName" placeholder="@Localizer[name: "Placeholder_MachineName"]"/>
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(2)">
						@if (Model.ForwardFridayCalls)
						{
							<input id="ForwardFridayCalls" name="ForwardFridayCalls" type="checkbox" value="true" checked>
						}
						else
						{
							<input id="ForwardFridayCalls" name="ForwardFridayCalls" type="checkbox" value="true">
						}
						<label for="ForwardFridayCalls"><localize>ForwardFridayCallsText</localize></label>
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(2)">
						@if (Model.ForwardJarvisCalls)
						{
							<input id="ForwardJarvisCalls" name="ForwardJarvisCalls" type="checkbox" value="true" checked>
						}
						else
						{
							<input id="ForwardJarvisCalls" name="ForwardJarvisCalls" type="checkbox" value="true">
						}
						<label for="ForwardJarvisCalls"><localize>ForwardJarvisCallsText</localize></label>
					</div>
				</div>
				<div class="row uniform">
					<ul class="actions">
						<li>
							<input type="submit" value="@Localizer[name: "SubmitRegistration"]" />
						</li>
					</ul>
				</div>
			</form>
		</section>
	</section>
</div>