<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
	<h3 class="text-danger"><localize>NotFoundHeader</localize></h3>
	<p><localize>NotFoundText</localize></p>
	<p><localize>NotFoundHelp</localize></p>
</cache>