@model int
@{
<header class="major">
	<h2><localize>ErrorHeader</localize></h2>
	<p><localize>StatusCodeHeader</localize> @Model</p>
</header>
<div class="container">
	<section id="content">
		<section>
			@Html.Partial("_Code_" + Model)
		</section>
	</section>
</div>
}