<header class="major">
	<h2><localize>ErrorHeader</localize></h2>
	<p><localize>UnknownErrorHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<h3 class="text-danger"><localize>UnknownErrorHeader</localize></h3>
			<p class="text-danger"><localize>ErrorDescriptionText</localize></p>
			<p><localize>InBetweenText</localize></p>
		</section>
	</section>
</div>